{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/cars/car-detail.css' %}"
/>
<script defer src="{% static 'js/car-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="car-container">
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
  <div class="car-img">
    <img 
      src="{% static 'images/cardetail.png' %}" 
      alt="A Ferrari"
    >
  </div>
  <div class="car-details">
    <h1>{{ car.make }} {{ car.model }}</h1>
    {% if car.topspeed > 200 %}
      <p>This model has a top speed of {{ car.topspeed }}mph and is a collectors dream car</p>
    {% else %}
      <p>A {{ car.make }} {{ car.model }} is not a collectable.</p>
    {% endif %}
    <p><small><i>{{ car.description }}</i></small></p>
    <div class="car-actions">
      <a href="{% url 'cars_update' car.id %}" class="btn warn">Edit</a>
      <a href="{% url 'cars_delete' car.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Maintenace</h2>
      <img 
        src="{% static 'images/maintenance.png' %}" 
        alt="car being washed"
      />
    </div>
    <h3>Add Maintenace</h3>
    <form
      action="{% url 'add_maintenance' car.id %}" 
      method="post" 
      class="subsection-content"
    >
      {% if car.serviced_today %}
        <p class="fed">{{car.make}} {{car.model}} has been serviced today!</p>
      {% else %}
        <p class="unfed">Please check if the {{car.make}} {{car.model}} needs service.</p>
      {% endif %}
      {% csrf_token %}
      {{ maintenance_form.as_p }}
      <button type="submit" class="btn submit">Add</button>
    </form>
    <h3>Past Maintenace</h3>
    {% if car.maintenance_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Service</th></tr>
        </thead>
        <tbody>
          {% for maintenance in car.maintenance_set.all %}
            <tr>
              <td>{{maintenance.date}}</td>
              <td>{{maintenance.get_service_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="subsection-content">
        <p>{{car.make}} {{car.model}} needs maintenance soon 😔</p>
      </div>
    {% endif %}
  </section>
</div>

{% endblock %}