{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/cars/car-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Car List</h1>
  <img src="{% static 'images/AstonMartin-One-77.svg' %}" alt="A cool car" />
  <img src="{% static 'images/Ferrari-F60-America.svg' %}" alt="A fast car" />
  <img src="{% static 'images/Pagani-Huayra.svg' %}" alt="A rare car" />
  <img src="{% static 'images/WMotors-Lykan-Hypersport.svg' %}" alt="A dream car" />
</section>

<section class="card-container">
  {% for car in cars %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="" 
            alt="A collectable car"
          >
        </div>
        <h2 class="card-title">{{ car.make }} {{ car.model }}</h2>
        {% if car.topspeed > 200 %}
          <p>This model has a top speed of {{ car.topspeed }}mph and is a collectors dream car</p>
        {% else %}
          <p>A {{ car.make }} {{ car.model }} is not a collectable.</p>
        {% endif %}
        <p><small>{{ car.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}