main {
  height: 100%;
  margin-top: 50px;
}

main>section {
  width: 100%;
  padding: 10px 8px;
}

.header-logo-container {
  display: none;
}

.logo-container {
  max-width: 100px;
  margin: 0 auto;
}

.car-container {
  display: block;
  margin: 0 auto;
  width: 80%;
  color: aquamarine;
}

img {
  display: block;
  border: 2px solid rgba(26, 149, 198, 0.765);
  border-radius: 10px;
  width: 300px;
  box-shadow: 5px 5px 5px rgba(127, 255, 212, 0.698);
}

.login-section {
  margin: 0 auto;
}

.login {
  display: block;
  background-color: rgba(133, 98, 237, 0.526);
  width: 80%;
}

.login h1 {
  font-size: clamp(3.2rem, 3vw, 4.8rem);
  margin: 10px 0;
  text-align: center;
}

.login>p {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 14px 0 0px;
}

.login label {
  font-size: var(--font-reg);
  margin-bottom: 6px;
}

.login input {
  font-size: var(--font-l);
  padding: 2px 4px;
}

.login .btn {
  align-self: flex-end;
  margin-right: 0;
  margin-top: 16px;
}

@media only screen and (min-width: 768px) {
  main {
    justify-content: space-around;
  }

  main>section {
    width: 40%;
  }

  .login {
    display: block;
    border: 2px solid rgb(26, 149, 198, 0.765);
    padding: 20px;
    border-radius: var(--card-border-radius);
    box-shadow: 5px 5px 5px rgba(127, 255, 212, 0.698);
    width: 100%;
  }

  .logo-container {
    max-width: 520px;
  }
}